
.pointer_cursor_container p {
    color: var(--blue-color-soft);
}

.pointer_container {
    width: 40px;
    height: 16px;
    background-color: var(--grey-color);
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    place-content: center;
    justify-content: start;
}


.pointer_icon {
    left: 13px;
}

@media( max-width:600px ){
    .mobile_cursor{
        display: none;
    }
    
} 